<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>主页</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- stylesheet css -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/templatemo-blue.css') }}" rel="stylesheet" type="text/css"> 
  <link href="{{ url_for('static', filename='css/animation.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/style1.css') }}" rel="stylesheet" type="text/css">
 
  <script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="static/js/my.js"></script>
  
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<header id="home" class="page">
  <div class="navigation single-page-nav">
    <div class="container_12">
      <div class="grid_12">
        <h1 class="logo">
          {{ session.username }}
        </h1>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}" class="current">Home</a></li>
            <li><a href="{{ url_for('mypage') }}">Me</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>


<section class="container">
  <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="education">
                <h3 class="white" style="position:relative; left: -20px;">发表新鲜事</h3>
                  <div class="education-content">
                    <h4 class="education-title accent">有什么新鲜事想告诉大家？</h4>
                      <br />
                      <div class="education-school">
						<form action="/?action=add" method="post" enctype="multipart/form-data" autocomplete="off">
                              <textarea name="text" rows="5" style="color:black;width:100%" value=""></textarea>
							  <br><br>
                          <input id="add_post" type="submit" style="color:black;float:right;width:100px" value="发布">
                          <input id="imgfile" name="imgfile" type="file" accept="image/gif, image/jpeg" style="color:transparent;"/>
						</form>
						<div id="post_img"/>
                      </div>
                  </div>
              </div>
            </div> 
            <div class="col-md-12">
				<!--好友动态-->
              <div id="haoyoudongtai" class="experience">
				  {% include "display_posts.html" %}
              </div>
              </div>
            </div>
        </div>  

        <div class="col-md-4 col-sm-12">
			<br>
            <div class="row">
				<div class="col-md-10">
					<div class="form-group col-md-12 col-sm-12">
						<div class="input-group">
							<div class="input-group-addon"></div>
							<form action="{{ url_for('search_friend',search_friend='ALL:') }}" method="POST">
								<input class="form-control" type="text" placeholder="搜索好友" value="" name="search_content"/>
							</form>
						</div>
					</div> 
				</div>

            <div class="col-md-10 col-sm-12">
              <div class="languages">
              <div>
                <h4 class="accent">推荐好友</h4>
                  <br />
                  <ul style="list-style:disc;color:#0033FF;">
                  {% for friend in recommend_friends %}
                  <li><a href="{{ url_for('hispage', username=friend) }}">{{ friend }}</a></li>
                  {% endfor %}
                  </ul>
              </div>
              </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="languages">
                    <h4 class="accent">今日热门</h4>
                        <br />
                        <ul style="list-style:disc;color:#0033FF;">
                          {% for row in hot_posts %}
                          <li onclick="goToId('{{row.post.id}}');">
                            {%if row.post.text %}{{ row.post.text[:12] }}{% else %}image{% endif %}</a>
                          {% endfor %}
                        </ul>
                </div>
            </div>  
            </div>
        </div>
        
    </div>
</section>


<footer>
    <div class="container" >
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <p>此网页仅供测试，对任何法律问题及风险不承担任何责任。</p>
            </div>
        </div>
    </div>
</footer>      
            
<!-- javascript js -->  
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>

<script>
    $(window).load(function(){$('.preloader').delay(100).fadeOut("slow"); // set duration in brackets    
    });
    $(function(){
        jQuery(document).ready(function() {
            $('body').backstretch([
                 "{{ url_for('static', filename='images/home_bg.jpg') }}"
                    ],  {duration: 3200, fade: 1300});
            });
    })
</script>

<script type="text/javascript">
    var result = document.getElementById("post_img"); 
    var input = document.getElementById("imgfile");     
    if(typeof FileReader==='undefined'){ 
        result.innerHTML = "抱歉，你的浏览器不支持 FileReader"; 
        input.setAttribute('disabled','disabled');
    }else{ 
        input.addEventListener('change',readFile,false); 
    } 
    function readFile(){ 
        var file = this.files[0]; 
        if(!/image\/\w+/.test(file.type)){ 
            alert("文件必须为图片！"); 
            return false; 
        } 
        var reader = new FileReader(); 
        reader.readAsDataURL(file); 
        reader.onload = function(e){ 
			result.innerHTML = '<br><img id="thumbnail" height="200" src="'+this.result+'"/>' 
        } 
    } 
</script>
<script type="text/javascript">
function goToId(obj){
    var _targetTop = $('#'+obj).offset().top;//获取位置
    jQuery("html,body").animate({scrollTop:_targetTop-400},300);//跳转
}
</script>
</body>
</html>
